.message {
    width: 350px;
    position: relative;
    background-color: lightsteelblue;
    padding: 10px 10px 20px 10px;
    margin: auto 0 10px 0;
    border: none;
    border-radius: 10px;
    & .user-name {
        font-weight: bold;
        color: darkslateblue;
    }
    & .bot-name {
        font-weight: bold;
        color: crimson;
    }
    & .date {
        position: absolute;
        bottom: 5px;
        right: 10px;
        font-size: 10px;
        color: lightslategray;
    }
}
.user {
    margin: 0 0 10px auto;
}